<section class="library-header">
    <h1>
        <a href="/"><i>Local Library</i></a>
    </h1>
</section>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .library-header {
        padding-left: 2rem;
        background-color: black;
        height: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0.5rem;
        position: sticky;
        top: 0;
        a {
            text-decoration: none;
        }
        i {
            text-decoration: none;
            color: white;
        }
    }
</style>
