<ul class="header-item">
    <li class="header-item sort-button"><a href="/?sort=random">Sort Random</a></li>
    <li class="header-item sort-button"><a href="/?sort=az">Sort A-Z</a></li>
    <li class="header-item sort-button"><a href="/?sort=za">Sort Z-A</a></li>
    <li class="header-item sort-button"><a href="/?sort=recent">Sort Recent</a></li>
</ul>

<style>
    .header-item {
        display: inline-block
    }
    .sort-button {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        border-color: white;
        border-style: solid;
        border-radius: 6px;
        border-width: 2px;
        padding: 0.5rem;
        a {
            color: white
        }
    }
</style>